body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 75px;
  background-color: #fff;
  border-radius: 15px;
}

.info {
  position: relative;
}

.img {
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: left;
  overflow: hidden;
  position: relative;
}

div {
  flex: 1;
}
